{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div style="margin-top:100px;">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button style="border-radius: 4px;
    display:inline-block;
    color: aqua;
    background: #666;
    padding: 10px;
    width: 20%;
    cursor: pointer;
    box-shadow: 4px 4px 4px 3px #823579;
    margin: 0 auto;
    " class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>