{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    
{% endblock %}
{% block body %}
<section style="width: 50%;height:600px;margin-top:80px;">
    <div id="calendrier" style=" 
            
            
            float:left;
            padding-left:10px;
        

            ">

    </div>
 
</section>
{% endblock %}

{% block javascripts %}
  <div style=" 
 text-align:left;">
 <a href="{{path('calendar_index')}}"><button>Demande Reservation</button></a>
  <a href="{{path('salle_de_mariage')}}"><button>Back</button></a>

</div> 
<script>
    window.onload = () => {
        let calendarElt = document.querySelector("#calendrier")
        let calendar = new FullCalendar.Calendar(calendarElt, {
            initialView: 'timeGridWeek',
            locale: 'fr',
            timeZone: 'Europe/Paris',
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek'
            },
            events: {{ data|raw }},
            editable: true,
            eventResizableFromStart: true
        })
        calendar.on('eventChange', (e) => {
            let url = `/api/${e.event.id}/edit`
            let donnees = {
                "title": e.event.title,
                "description": e.event.extendedProps.description,
                "start": e.event.start,
                "end": e.event.end,
                "backgroundColor": e.event.backgroundColor,
                "borderColor": e.event.borderColor,
                "textColor": e.event.textColor,
                "allDay": e.event.allDay
            }
            
            let xhr = new XMLHttpRequest
            xhr.open("PUT", url)
            xhr.send(JSON.stringify(donnees))
        })
        calendar.render()
    }
</script>

{% endblock %}