{% extends 'base.html.twig' %}

{% block title %}Hello VoyageDeNoceController!{% endblock %}

{% block body %}
<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.voyage {
  margin: auto;
  padding: 2em;
  max-width: 68rem;
}

.flex {
  display: flex;
  gap: 2em;
  justify-content: center;
  flex-flow: row wrap;
}

.flex > * {
  flex-grow: 1;
  flex-basis: 0;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  max-width: calc(12.5rem + 13vw);
  background: #fff;
  border-radius: 0.75em;
  overflow: hidden;
  box-shadow: 0 0.25em 0.6em #0005, 0 0.65em 1em #0004;
  transition: transform 270ms ease;
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  display: flex;
  inset: 0;
  isolation: isolate;
  mix-blend-mode: color;
  background: linear-gradient(180deg, #0000 48%, 48%, red, 70%, blue);
  opacity: 0;
}

.card:hover::before {
  opacity: 1;
}
.card:hover {
  transform: scale(1.05);
}

img {
  display: block;
  max-width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  height: auto;
  margin-bottom: 1em;
}

.card-body {
  height: 200px;
  padding: 1em 0;
}

h3 {
  text-align: center;
  color:hotpink;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.para {
  color: #0009;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  margin: 1em auto;
  padding-inline: 0.5em;
  max-width: 35ch;
}
.banner1,
.banner2,
.banner3,
.banner4 {
  
  width: 100%;
  position: absolute;
  margin-top:70px;

}
.image {
  width: 100%;
  position: absolute;
  
  
  animation: zoom-out 6s linear infinite;
  border-radius:80px;
  height:500px
}

@keyframes zoom-out {
  100% {
    width: 100%;
  }
}











</style>

<div class="card-wrap "  style="margin-top:100px;">
{% include 'voyage_de_noce/_filtre.html.twig' with{form:form} only %}
</div>
<div  style="margin-top:100px">
<h3>Voyages de noces</h3>
<p style="text-align: center;"> Ou partir en voyage de noces ? Vous avez des idées mais vous ne savez pas laquelle choisir ?
<br> Trouvez le pays ou la ville qui vous correspond le mieux à travers notre liste d’idées de 
<br>voyages de noces. Parmi les offres de voyages all inclusive que vous pouvez trouver,
<br> nous vous avons répertorié des destinations idéales pour passer un moment à deux.
Votre lune de miel doit être<br> inoubliable, pour cela choisissez celle qui vous fait le plus rêver parmi nos destinations..</p>
</div>
<div class="voyage">
  <div class="flex">
  {% for item in voyagedenoce %}
    <div class="card">
      <img src="/imgvoyages/{{ item.image }}" alt="">
      <div class="card-body">
        <h3>{{ item.nom}}</h3>
        <p class="para" >{{ item.description}}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="d-flex justify-content-end" > 
 <div style="margin-top: 30px;margin-left: 10px;">
   <h3>lune de miel</h3>
<p >Les agences Fox Travel vous aide à organiser votre lune de miel en amoureux.
<br> Après le stress des préparatifs et l’excitation du jour J, vous n'aurez qu'une envie,
<br> vous détendre avec votre moitié, et pourquoi pas changer d'air ! Embarquez pour
<br> le pays de vos rêves, en Europe ou au bout du monde avec l'aide de les agences.
<br> Son équipe mettra son savoir-faire et son expérience à votre service.
</p>
<h3>Services Proposés</h3>
<p>
les agences vous proposent plusieurs destinations, en fonction de votre profil,
<br> de vos goûts et de votre budget. Ensemble vous trouverez celle qui correspond à vos attentes,
<br> que vous soyez baroudeurs ou amateurs de farniente.

<br>Vous êtes plutôt grande ville, plage, montagne ou randonnées en pleine nature ? Tout est possible !
<br> N'hésitez pas à contacter votre prestataire dès maintenant pour obtenir davantage d'informations sur ses prestations.
</p>

 
</div> 
<div ><img src="https://cdn0.mariages.net/vendor/6393/3_2/640/jpg/hilltop-villa5_3_196393-157139958550277.webp" alt="" style="margin-top: 50px;" ><br>
</div>
</div>


 
<style>




:root {
  --bc: #efeeee;
  --white: #ffffff;
	--black: #000000;
  --red: #da2c4d;
	--teal: #20c997;
	--cyan: #17a2b8;
	--primary: #f9c6cf;
	--font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
  width: 100%;
  min-height: 100vh;
	overflow-x: hidden;
	font-family: var(--font-family-sans-serif);
  scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
  background-color: var(--bc);
}
/* Classes */
.top {
  padding: 2em;
  margin: 0 auto;
  background-color: white;
  text-align: center;
}
.title {
  color: var(--black);
}
.title h1 {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.title h3 {
  font-size: 14px; 
  font-weight: 400; 
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase; 
  letter-spacing: 8px;
  line-height: 0;
}
/* Parallax */
.parallax1 {
  position: relative;
  background-image: url("https://www.partirentunisie.com/assets/img/thematiques/voyage/nc.jpg");
  min-height: 50vh; 
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("https://www.nuevomundo.fr/ressources/images-circuits/circuit-19.jpg?version=3");
  min-height: 50vh; 
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  position: absolute;
}
.parallax2 h2 {
  font-size: 5em;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--white);
  z-index: 1;
}
.parallax3 {
  position: relative;
  background-image: url("https://www.shantitravel.com/bos.shantitravel.com/Datas/Medias/Org/just-maried.4422x8B10CA.jpg");
  min-height: 50vh; 
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Paragraph */
.paragraph {
  margin: 3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.paragraph p {
  width: 60%;
  font-size: 1.05em;
  line-height: 1.45em;
  letter-spacing: .1em;
  color: rgb(64, 64, 64);
}
.first span {
  font-size: 4em;
  color: var(--red);
  float: left;
  font-weight: 400;
  line-height: 55px;
  padding: .05em .2em 0 0;
}
.second span {
  font-size: 4em;
  color: var(--teal);
  float: left;
  font-weight: 400;
  line-height: 55px;
  padding: .05em .2em 0 0;
}
.third span {
  font-size: 4em;
  color: var(--cyan);
  float: left;
  font-weight: 400;
  line-height: 55px;
  padding: .05em .2em 0 0;
}
/* Selection */
::selection {
  color: var(--white);
  background: rgba(161, 181, 201, .8);
}
/* SCROLLBAR */
::-webkit-scrollbar-track {
      background-color: #F5F5F5;
}
::-webkit-scrollbar {
      width: 12px;
      background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
      background-color: rgba(161, 181, 201, .8);
}
</style>

<section class="top">
  <div class="title">
    <h3>Destination de lune </h3>
    <h1>de miel</h1>
  </div>
</section>
<section class="page">
  <div class="parallax1"></div>
  <div class="paragraph first">
    <p><span>L</span>e voyage de noces est le voyage en amoureux par excellence. Jeunes mariés,
 <br> prolongez le bonheur de votre union en choisissant la lune de miel qui 
 <br>vous convient en passant de la réalité au rêve :
    </p><p> vous rêvez de 15 jours sur
 <br> une île paradisiaque avec plage de sable blanc ou de sillonner les Etats-Unis sur
 <br> la célèbre route 66 ? Découvrez les conseils de Mariée.fr et les destinations de rêve
 <br> de nos prestataires pour faire de votre lune de miel, une parenthèse d’émerveillement.</p>
  </div>
  <div class="parallax2">
    <div class="overlay"></div>
    <h2>Beautiful</h2>
  </div>
  <div class="paragraph second">
    <p><span>V</span>ous cherchez une destination pour votre voyage de noces ? Découvrez en images 
    <br> nos 10 idées de voyages, qui vous séduiront autant les unes que les autres. Envie de farniente,
    <br> d’aventure, de culture ou de nature ? Suivez-nous, faites le tour du monde avec ces voyages 
    <br>somptueux et, pour les plus chanceuses, transformez le rêve en réalité…</p>
  </div>
  <div class="parallax3"></div>
  <div class="paragraph third">
    <p><span>F</span>aisant suite à leur belle journée de mariage, le voyage de noces est,
    <br> pour tout couple de jeunes mariés, un moment privilégié de détente et d’évasion à deux.
    <br> Mais parmi toutes ces destinations possibles, comment choisir son type de voyage de noces ?</p>
  </div>
</section>
{% endblock %}




